/* ---------- RESPONSIVE ---------- */

.btn-volver{
  margin-top: 20px;
}

/* Tablets horizontales (~≤992px) */
@media (max-width: 992px) {
  .item-list-container {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 16px;
  }
}

/* Tablets verticales (~≤768px) */
@media (max-width: 768px) {
  .item-list-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 14px;
    padding: 12px;
  }
}

/* Celulares (~≤480px) */
@media (max-width: 480px) {
  .item-list-container {
    grid-template-columns: 1fr;
    gap: 12px;
    padding: 10px;
  }
}

.download-btn {
    background-color: #4CAF50;
    color: white;
    border: 2px solid transparent; /* borde invisible por defecto */
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    margin: 8px;
    transition: all 0.2s ease-in-out; /* animación suave */
}

.download-btn:hover {
    background-color: #35a03a;
    transform: scale(1.2);
    border-color: white;
}
